body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header, footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 1px 0;
}
header {
    padding: 5px;
    display: flex;
    align-items: center;
    height: 50px;
    font-size: x-large;
    justify-content: center;
}

main {
    display: flex;
    justify-content: space-between;
}

.player {
    width: 23%; /* Adjust the width as needed */
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 75vh;
    gap: 1px; /* Adjust the gap between cards */
    margin-top: 0.5rem;
    flex-grow: 1; /* Allow cards to grow to fill available space */
    flex-basis: 20%; /* Four columns for each player */
}

.suit-column {
    display: flex;
    flex-direction: column;
    height: 100%; /* Fixed height */
    flex-grow: 1; /* Allow the suit column to grow in width */
    max-width: 100%; /* Set a maximum width for suit-column */
    min-width: 1px; /* Set a maximum width for suit-column */
    overflow: hidden; /* Hide the overflow content if the container is too small */
}

.card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0;
    margin: 0.5rem 0;
    text-align: center;
    min-width: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 13px;
    flex: 1; /* Cards take up available space */
}

.card:hover {
    background-color: #e0e0e0;
    transform: translateY(-2px);
}

.red-suit {
    color: red;
}

.black-suit {
    color: black;
}

.highlighted {
    background-color: yellowgreen;
}

.highlighted1 {
    background-color: orange;
}
.noHighlight {
    background-color: #3498db;
}

button {
    background-color: #3498db; /* Background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding around the text */
    border: none; /* Remove button border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s ease; 
}