body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5rem 0;
}

main {
    display: flex;
    justify-content: space-between;
}

.player {
    width: 23%; /* Adjust the width as needed */
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 75vh;
    gap: 1px; /* Adjust the gap between cards */
    margin-top: 0.5rem;
    flex-grow: 1; /* Allow cards to grow to fill available space */
    flex-basis: 20%; /* Four columns for each player */
}

.card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 1vh 0.2rem;
    margin: 0.5rem 0;
    text-align: center;
    min-width: 30px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 12px;
    flex: 1; /* Cards take up available space */
    
}

.card:hover {
    background-color: #e0e0e0;
    transform: translateY(-2px);
}

.red-suit {
    color: red;
}

.black-suit {
    color: black;
}

/* 
.suit-indicator {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2rem;
}

.suit-indicator div {
    width: 30px;
    height: 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.suit-indicator .color-1 {
    background-color: red;
}

.suit-indicator .color-2 {
    background-color: blue;
}

.suit-indicator .color-3 {
    background-color: green;
} */
